/* .blogSlider > .splide__pagination {
  display: none;
  width: 0;
  height: 0;
} */

/* .blogSlider > .splide__pagination > li > .splide__pagination__page { */
/* border-radius: 30px;
  background-color: white;
  width: 0;
  height: 0; */
/* display: none;
} */

/* .blogSlider > .splide__pagination > li {
  list-style-type: none;
  width: 0;
}
.blogSlider > .splide__pagination > li > .is-active {
  background-color: #ff304d;
} */
